@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./iconfont/iconfont.css";

@layer components {
  .mid{
    @apply !absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .y-mid{
    @apply !absolute top-1/2 -translate-y-1/2;
  }

  .x-mid{
    @apply !absolute left-1/2 -translate-x-1/2;
  }

  .btn-zoom{
    @apply relative after:absolute after:top-[-10rpx] after:right-[-10rpx] after:bottom-[-10rpx] after:left-[-10rpx];
  }

  .bg-full{
    @apply bg-[length:100%_100%];
  }
}

@layer utilities{
  /* 元素入场动画 */
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px)
    }
    to {
      opacity: 1;
      transform: none
    }
  }
  .animate-enter {
    --stagger: 0;
    --delay: 120ms;
    --start: 0ms;
    animation: enter 1s both 1;
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
  .animate-enter-content > .animate-content {
    --stagger: 0;
    --delay: 120ms;
    --start: 0ms;
    animation: enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }
  .animate-enter-content > .animate-content:nth-child(1) { --stagger: 1; }
  .animate-enter-content > .animate-content:nth-child(2) { --stagger: 2; }
  .animate-enter-content > .animate-content:nth-child(3) { --stagger: 3; }
  .animate-enter-content > .animate-content:nth-child(4) { --stagger: 4; }
  .animate-enter-content > .animate-content:nth-child(5) { --stagger: 5; }
  .animate-enter-content > .animate-content:nth-child(6) { --stagger: 6; }
  .animate-enter-content > .animate-content:nth-child(7) { --stagger: 7; }
  .animate-enter-content > .animate-content:nth-child(8) { --stagger: 8; }
  .animate-enter-content > .animate-content:nth-child(9) { --stagger: 9; }
  .animate-enter-content > .animate-content:nth-child(10) { --stagger: 10; }

  @keyframes emerge {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-emerge {
    animation: emerge 1s both 1;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }

  page{
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --save-bottom: calc(150rpx + var(--safe-area-inset-bottom, 0px));
    --ios-bottom: var(--safe-area-inset-bottom, 0px);

    width: 100%;
    height: 100%;
    line-height: 1;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border: 0 solid;
  }

  ::before,
  ::after {
    --tw-content: '';
  }

  ::-webkit-scrollbar{
    display: none;
  }
}