@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .mid{
    @apply !absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .y-mid{
    @apply !absolute top-[50%] translate-y-[-50%];
  }

  .x-mid{
    @apply !absolute left-[50%] translate-x-[-50%];
  }

  .btn-zoom{
    @apply relative after:absolute after:top-[-10rpx] after:right-[-10rpx] after:bottom-[-10rpx] after:left-[-10rpx];
  }
}

@layer base {
  page{
    --save-bottom: calc(150rpx + env(safe-area-inset-bottom));
    --ios-bottom: env(safe-area-inset-bottom);

    width: 100%;
    height: 100%;
  }

  ::before,
  ::after {
    --tw-content: '';
  }
}